*{
    padding: 2px;
    margin: 2px;
    background-color: rgb(235, 216, 191);
}

header{
    width: 1103px;
    height:30px;
    top: 30;
    left: 170;
}
.menu{
    width: 234px;
    height: 15px;
    top: 37px;
    left: 1041px;
}